.main {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}
.counter {
  text-align: center;
}

.result {
  height: 340px;
  font-size: 200px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  color: green;
  border-radius: 10px;
}

.inp {
  margin-top: 30px;
}

.resultOfSum{
    width: 80px;
    height: 22px;
    
}
.outPutSum{
    font-size: 22px;
}
.timer{
  display: flex;
  justify-content: space-evenly;
}
.showTime{
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.febonacci{
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
}
