.main{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
}
h1{
    
   padding-left: 40%;
}

.result{
    width: 80%;
    height: 380px;
    font-size: 200px;
    padding-left: 40%;
}