.main{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
   /* padding-left: 40%; */
}

.result{
    width: 80%;
    height: 340px;
    font-size: 200px;
    padding-left: 40%;
}
